{% extends 'layouts/base.html' %}
{% block tittle %}
ZoomFace
{% endblock %}

{% block body %}
{% include 'layouts/navbar.html' %}
<br>
<br>
<br>
<br>

<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col">
        </div>
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">

                </div>
                <div class="card-body">
                    <h5 class="card-title">Video conferencias</h5>
                    <p class="card-text"></p>
                    <a href="/room/new" class="btn btn-primary">Nueva reunion</a>
                </div>
                <div class="card-footer text-muted">
                    
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>

{% endblock %}